{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
<<<<<<< HEAD
        <li>Your controller at <code><a href="{{ 'E:/web_projects/symfony_project/Hello_Doc/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/web_projects/symfony_project/Hello_Doc/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
=======
        <li>Your controller at <code><a href="{{ 'E:/web_projects/Projet_Symfony/Hello_Doc/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/web_projects/Projet_Symfony/Hello_Doc/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
>>>>>>> 76f88b131c60ff7e61c9881eb12f9fa869e9f893
    </ul>
</div>
{% endblock %}
